<div class="contain">
  <form
    (ngSubmit)="onLogin($event)"
    [formGroup]="body"
    class="formulario">
    <picture>
      <img src="../../../assets/logo.png" alt="img aqui">
    </picture>
    <span class="p-float-label">
      <input formControlName="usuario" pInputText id="username" />
      <label htmlFor="username">Username</label>
    </span>

    <span class="p-float-label">
      <!-- <p-password
        formControlName="contraseña"
        [feedback]="false"
        [toggleMask]="true"
        ></p-password> -->
        <input

          formControlName="contraseña"
          type="password" pPassword id="password">
      <label for="password">Password</label>
  </span>
  <p-button
  [style]="{'background-color':'#FFF176','color':'black','border':'none','width':'500px','display':'flex','justify-content':'center'}"

  type="submit">Ingresar</p-button>
  </form>
  <div *ngIf="exito" class="card">
    <p-messages [(value)]="messages" [enableService]="false" [closable]="true"></p-messages>
</div>

</div>
