<p-table [value]="products" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '15rem' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Nombre del Mural</th>
      <th>Fecha de {{aprobado}}</th>
      <th>Hora</th>
      <th>Estado</th>
      <th>
        <form [formGroup]="formEstado">
          <select   formControlName="option" name="op" id="op" (change)="cambiarStatus()">
            <option  disabled selected>Selecciona una opción</option>
            <option value="aprobado">Aprobado</option>
            <option value="rechazado">Rechazado</option>
          </select>
        </form>
    </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <tr>
      <td>{{ product.nombre_mural |titlecase }}</td>
      <td>{{ product.fecha.slice(0, 10)}}</td>
      <td>{{product.fecha.slice(10, 19)}}</td>
      <td>{{product.estado | titlecase}}</td>
      <td> </td>

    </tr>
  </ng-template>
</p-table>
<div *ngIf="exito" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
