
.arrow{
  width: 35px;
  position: relative;
  border: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  font-family: fantasy;
  font-weight: bolder;
  border-radius:8px ;
  max-width: 40px;

}
.arrow svg{
  width: 45px;
  color: rgb(6, 84, 148);
}

#esta{
  height: auto;
  width: 100vh;

}
.active-link {
  background-color: rgb(5, 182, 241); /* Puedes ajustar el color según tus preferencias */
  color: white; /* Ajusta el color del texto según tus preferencias */
  /* Otros estilos que desees aplicar al enlace activo */
}

#noc{
  margin-left: -10px;
}

.block{
  display: none;

}

.active{
  display: block;

}

.contSlide{
  position: relative;
  height: 100%;
}

/*estilos del contenedor global del mural*/
.containerg{
  min-width: 1090px;
  height:100%;

}



.headr{
  display: flex;
  gap:30px;
}
.subhr{
  display: flex;
  flex-direction: column;
  justify-content: center;

}

