<div class="nose">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <p-avatar label="R" size="xlarge"></p-avatar>
      <span> Ricky Español</span>
    </ng-template>
    <ng-template pTemplate="end">
      <button class="salir" [routerLink]="['/aut',]">Salir</button>
    </ng-template>
  </p-menubar>

  <div class="esta">
    <h1>Listado de Usuarios</h1>
    <p-button (click)="toggleForm()">Crear Nuevo Usuario</p-button>
  </div>
  <p-table [value]="users" responsiveLayout="stack" [breakpoint]="'960px'" [tableStyle]="{ 'min-width': '15rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Id del Usuario</th>
        <th>Nombre</th>
        <th>Correo</th>
        <th>Rol</th>
        <th>Acción</th>
        <th>Acción</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr class="rowT" [id]="users.id">
        <td>{{ users.id }}</td>
        <td>{{ users.nombre }}</td>
        <td>{{ users.correo }}</td>
        <td>{{ users.rol}}</td>
        <td>
          <p-button styleClass="p-button-success">Editar Usuario</p-button>
        </td>
        <td>
          <p-button styleClass="p-button-danger"> Eliminar Usuario</p-button>
        </td>
        <td>

        </td>
      </tr>
    </ng-template>
  </p-table>


  <div class="container" *ngIf="showUserForm">
    <h1>Administrar Usuarios</h1>
    <form id="user-form">
      <label for="name">Nombre:</label>
      <input type="text" id="name" name="name" required>

      <label for="lastName">Apellido:</label>
      <input type="text" id="lastName" name="lastName" required>

      <label for="email">Correo Electrónico:</label>
      <input type="email" id="email" name="email" required>

      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" required>

      <div class="botones">
        <button class="bton"   type="submit">Guardar</button>
        <button (click)="toggleForm()" class="bton rojo"  type="submit">Cancelar</button>
      </div>
    </form>
  </div>

</div>
