.body_dashboard{
  border:1px solid #dee2e6;
  min-height: 75vh;
  height:auto;
  display:flex;
  flex-wrap:wrap;
  justify-content:space-evenly;
}


.card_body:first-child{
  margin-left:15px;
  text-align:center;
}

.contImg{
  width: 100%;
  height: 80%;
}
.contImg img{
  width: 100%;
  height: 100%;
}
.contdesc{
  width: 100%;
  height: 20%;
}

/*a eliminar*/

.card1 {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  /* ... (otros estilos de tu tarjeta) */
  background-color: #fff; /* Color de fondo del card */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombreado */
  margin: 10px; /* Espaciado exterior del card */
  overflow: hidden; /* Evita desbordamiento de contenido interno */
  width: 300px; /* Ancho del card, ajusta según tus necesidades */
  height: 250px;
}

.card_new {
  text-align: center; /* Alinea el contenido del card_new en el centro */
}

.center-content {
  display: flex;
  flex-direction: column; /* Alinea el contenido verticalmente */
  align-items: center; /* Centra verticalmente */
}




.card {
  background-color: #fff; /* Color de fondo del card */
  border-radius: 10px; /* Borde redondeado */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombreado */
  margin: 10px; /* Espaciado exterior del card */
  overflow: hidden; /* Evita desbordamiento de contenido interno */
  width: 300px; /* Ancho del card, ajusta según tus necesidades */
  height: 250px;
}
.card_new{
  margin: 0 auto;
}

.card-body {
  display: flex; /* Mostrar contenido en fila (horizontal) */
  flex-direction: column;
  align-items: center; /* Centrar verticalmente el contenido */
  justify-content: center;

}

.contImg img {
  max-width: 100%; /* Asegura que la imagen no desborde el contenedor */
  border: 0;
}

.contdesc {
  flex-grow: 1; /* Permite que el título ocupe todo el espacio disponible */
  padding: 10px; /* Espaciado interior del contdesc */
}

h1 {
  margin: 0; /* Elimina el margen predeterminado del h1 */
  white-space: nowrap; /* Evita que el título se divida en varias líneas */
  overflow: hidden; /* Evita que el título se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el título es largo */
  font-size: 16px; /* Tamaño de fuente del título, ajusta según tus necesidades */
  font-weight: bold; /* Texto en negrita, ajusta según tus necesidades */
}

.txtSpan{
  margin: 0; /* Elimina el margen predeterminado del h1 */
  white-space: nowrap; /* Evita que el título se divida en varias líneas */
  overflow: hidden; /* Evita que el título se desborde */
  text-overflow: ellipsis; /* Agrega puntos suspensivos si el título es largo */
  font-size: 16px; /* Tamaño de fuente del título, ajusta según tus necesidades */
  font-weight: bold;
}



/*spiner css*/

.sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  position: fixed;
  left: 50%;
  top: 25%;
  transform: translate(-50%,-50%);
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #9be8ff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  }
}
