<div *ngIf="isdata" class="body_dashboard">
  <div class="card1">
    <div (click)="generarId()" class="card_new">
      <div class="center-content">
        <i class="pi pi-plus-circle" style="font-size: 3rem"></i>
        <br>
        <span>Crear un nuevo mural</span>
      </div>
    </div>
  </div>

  <!-- <div [routerLink]="['/main/edit', item.id_mural]"  class="card_body" *ngFor="let item of listName">
    <div class="contImg">
      <img [src]="item.imgmural" alt="img del mural">
    </div>
    <div class="contdesc">
      <h1>{{item.nombrem}}</h1>

    </div>

  </div> -->

  <div [routerLink]="['/main/edit', item.id_mural]" class="card" *ngFor="let item of listName">
    <div class="card-body">
      <div class="contImg">
        <img [src]="item.imgmural" alt="img del mural">
      </div>
      <div class="contdesc">
        <h1>{{item.nombrem}}</h1>
      </div>
    </div>
  </div>



</div>

<div *ngIf="isactive" class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
