
<div class="card">
  <p-table [value]="listName" [tableStyle]="{'min-width': '50rem'}">
      <ng-template pTemplate="header">
          <tr>
              <th>Nombre del Mural</th>
              <th>Fecha</th>
              <th>Estado</th>

          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
          <tr [ngClass]="{'row-accessories': product.category === 'Accessories'}">
              <td>{{product.nombrem}}</td>
              <td>{{product.fecha_solicitud | date:'yyyy-MM-dd'}}</td>
              <td>
                  <div [ngClass]="{'outofstock': product.estado == 'rechazado', 'lowstock': product.estado == 'en espera','instock': product.estado == 'aprobado'}">
                      {{product.estado | titlecase}}
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
</div>
<div *ngIf="isactive" class="sk-cube-grid">
  <div class="sk-cube sk-cube1"></div>
  <div class="sk-cube sk-cube2"></div>
  <div class="sk-cube sk-cube3"></div>
  <div class="sk-cube sk-cube4"></div>
  <div class="sk-cube sk-cube5"></div>
  <div class="sk-cube sk-cube6"></div>
  <div class="sk-cube sk-cube7"></div>
  <div class="sk-cube sk-cube8"></div>
  <div class="sk-cube sk-cube9"></div>
</div>
